; [`npm 配置`](https://docs.npmjs.com/misc/config)

; [`node.js 配置`](https://nodejs.org/api/cli.html)
; [`node.js 配置(中文)`](http://nodejs.cn/latest-api/cli.html)
;
; 在通过 `npm run` 命令调用脚本时使用的 `Node.js` 选项。
node-options="--max_old_space_size=8192 --v8-pool-size=12 --zero-fill-buffers --trace-warnings --track-heap-objects --preserve-symlinks --preserve-symlinks-main"
